@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.none{
    min-height: 100vh;
    background: #dcdaf7;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-flow: column;
    padding-left: 10%;
    padding-bottom: 10%;
}

.note {
  font-size: 5rem;
  font-weight: 700;
  margin-top: 10%;
  color: #fff;
  text-shadow: 0 .3rem .5rem #000;
}

.head {
  padding-top: 2rem;
  font-size: 1.6rem;
  color: #6c63ff;
  font-weight: 500;
}

.weblink {
  font-size: 1.4rem;
  padding: 2rem 0;
  color: #838383;
}

.body {
  padding-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: #000;
}

@media (max-width:991px) {
  .none {
    padding-right: 15%;
  }

  .note {
    margin-top: 30%;
    font-size: 10rem;
  }

  .head {
    padding-top: 3rem;
    font-size: 3rem;
  }

  .body {
    padding-top: 2rem;
  }
}

@media (max-width:500px){
  .note{
    font-size: 5rem;
  }
  .head {
    font-size: 2.6rem;
  }
}
